body {
  margin: 0;
  padding: 0;
}
body #image1 {
  display: table;
  width: 100%;
  height: 100%;
  background: url("https://images.unsplash.com/photo-1461016951828-c09537329b3a?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=7777e79b0b2c539d64f1f356d09ed136");
  background-size: cover;
  background-position: center center;
}
.image .wrapper {
  margin: 0;
  padding: 0;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  width: 100%;
  position: absolute;
  top: 33%;
}
.image .wrapper h1 {
  font-family: 'PT Serif', serif;
  font-size: 5em;
  font-weight: 600;
  color: #fff;
}
.image .wrapper hr {
  max-width: 500px;
  max-height: 50px;
  border: 0;
  height: 3px;
  background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
  background-image: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
}
.image .wrapper h3 {
  color: #fff;
  font-family: 'Cormorant SC', serif;
  font-size: 2em;
}
.services .content .wrapper {
  min-height: 50px;
}
.services .content .wrapper h1 {
  padding-top: 30px;
  width: 100%;
  text-align: center;
  font-size: 3em;
  font-weight: 400;
  font-family: 'Lobster', cursive;
}
.services .content .wrapper hr {
  margin-top: -5px;
  max-width: 300px;
  padding: 0;
  border: none;
  border-top: medium double #333;
  color: #333;
  text-align: center;
}
.services .content .wrapper hr:after {
  content: "✻";
  display: inline-block;
  position: relative;
  top: -0.7em;
  font-size: 1.5em;
  padding: 0 0.25em;
  background: #fff;
}
.services .content .wrapper hr {
  padding-bottom: 20px;
}
.services .content .service-wrapper {
  margin-top: 20px;
  padding-left: 330px;
  padding-right: 330px;
  height: 250px;
}
.services .content .service-wrapper .service {
  width: 100px;
  height: 200px;
  width: calc(99.99% * 1/3 - (30px - 30px * 1/3));
  margin-bottom: 20px;
  text-align: center;
}
.services .content .service-wrapper .service:nth-child(1n) {
  float: left;
  margin-right: 30px;
  clear: none;
}
.services .content .service-wrapper .service:last-child {
  margin-right: 0;
}
.services .content .service-wrapper .service:nth-child(3n) {
  margin-right: 0;
  float: right;
}
.services .content .service-wrapper .service:nth-child(3n + 1) {
  clear: left;
}
@media only screen and (max-width: 400px) {
  .services .content .service-wrapper .service {
    width: calc(99.99% * 1/1 - (30px - 30px * 1/1));
  }
  .services .content .service-wrapper .service:nth-child(1n) {
    float: left;
    margin-right: 30px;
    clear: none;
  }
  .services .content .service-wrapper .service:last-child {
    margin-right: 0;
  }
  .services .content .service-wrapper .service:nth-child(1n) {
    margin-right: 0;
    float: right;
  }
  .services .content .service-wrapper .service:nth-child(1n + 1) {
    clear: left;
  }
}
.services .content .service-wrapper .service h3 {
  font-family: 'Cormorant SC', serif;
  text-align: center;
  width: 100%;
  font-size: 2em;
}
.services .content .service-wrapper .service p {
  font-family: 'Poppins', sans-serif;
  color: #808080;
}
.services .content .service-wrapper .service i {
  font-size: 60px;
  color: #c5a47e;
  margin-bottom: 10px;
}
.about-me {
  margin-top: 120px;
  width: 100%;
  height: 700px;
  background: #f7f4f4;
}
.about-me .content h1 {
  padding-top: 30px;
  width: 100%;
  text-align: center;
  font-size: 3em;
  font-weight: 400;
  font-family: 'Lobster', cursive;
}
.about-me .content hr {
  margin-top: -5px;
  max-width: 300px;
  padding: 0;
  border: none;
  border-top: medium double #333;
  color: #333;
  text-align: center;
}
.about-me .content hr:after {
  content: "✻";
  display: inline-block;
  position: relative;
  top: -0.7em;
  font-size: 1.5em;
  padding: 0 0.25em;
  background: #f7f4f4;
}
.about-me .content .wrapper .image-wrapper {
  width: calc(99.99% * 1/2 - (30px - 30px * 1/2));
  height: 500px;
  position: relative;
}
.about-me .content .wrapper .image-wrapper:nth-child(1n) {
  float: left;
  margin-right: 30px;
  clear: none;
}
.about-me .content .wrapper .image-wrapper:last-child {
  margin-right: 0;
}
.about-me .content .wrapper .image-wrapper:nth-child(2n) {
  margin-right: 0;
  float: right;
}
.about-me .content .wrapper .image-wrapper:nth-child(2n + 1) {
  clear: left;
}
.about-me .content .wrapper .image-wrapper .personal-image {
  background: url("https://scontent-cai1-1.xx.fbcdn.net/v/t1.0-9/398700_10150569884171255_1374290592_n.jpg?oh=31982b80bb347307b01731f22127b102&oe=57EABBF6");
  height: 500px;
  width: 500px;
  border-radius: 50%;
  background-size: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -230px 0 0 -100px;
}
.about-me .content .wrapper .personal-info {
  height: 500px;
  width: calc(99.99% * 1/2 - (30px - 30px * 1/2));
}
.about-me .content .wrapper .personal-info:nth-child(1n) {
  float: left;
  margin-right: 30px;
  clear: none;
}
.about-me .content .wrapper .personal-info:last-child {
  margin-right: 0;
}
.about-me .content .wrapper .personal-info:nth-child(2n) {
  margin-right: 0;
  float: right;
}
.about-me .content .wrapper .personal-info:nth-child(2n + 1) {
  clear: left;
}
.about-me .content .wrapper .personal-info #title {
  padding-top: 70px;
  font-family: 'PT Serif', serif;
}
.about-me .content .wrapper .personal-info #description {
  width: 70%;
  font-family: 'Poppins', sans-serif;
  color: #808080;
}
.my-work {
  margin-top: 50px;
  width: 100%;
  height: 1200px;
  margin-bottom: 150px;
}
.my-work .content h1 {
  padding-top: 20px;
  width: 100%;
  text-align: center;
  font-size: 3em;
  font-weight: 400;
  font-family: 'Lobster', cursive;
}
.my-work .content hr {
  margin-top: -5px;
  max-width: 300px;
  padding: 0;
  border: none;
  border-top: medium double #333;
  color: #333;
  text-align: center;
}
.my-work .content hr:after {
  content: "✻";
  display: inline-block;
  position: relative;
  top: -0.7em;
  font-size: 1.5em;
  padding: 0 0.25em;
  background: #fff;
}
.my-work .content .wrapper {
  margin-top: 30px;
}
.my-work .content .wrapper .gallery {
  *zoom: 1;
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
.my-work .content .wrapper .gallery:before {
  content: '';
  display: table;
}
.my-work .content .wrapper .gallery:after {
  content: '';
  display: table;
  clear: both;
}
.my-work .content .wrapper .gallery .card {
  height: 500px;
  width: 450px;
}
.my-work .content .button-wrapper {
  width: 100%;
}
.my-work .content .button-wrapper .btn-large {
  margin-left: 45%;
  margin-bottom: 50px;
}
.customers .image-wrapper .content {
  background: url("http://oshine.brandexponentscr.netdna-cdn.com/oshin/v8/wp-content/uploads/sites/8/2014/09/oshin-v8-stage-2.jpg");
  width: 100%;
  background-size: cover;
  height: 500px;
  margin-bottom: 100px;
}
.customers .image-wrapper .content .wrapper {
  width: 100%;
  height: 100%;
  background: rgba(34,34,34,0.7);
}

/*# sourceMappingURL=app.css.map */
