
mixin add-study-card
	.card(class="cell")
		.card-image(class="waves-effect waves-block waves-light")
			a(href!="{{action('PagesController@studyOverview' , 1)}}")
				img(src!="{{$study->image_url}}").activator
		.card-content
			a(href="{{action('PagesController@studyOverview' , 1)}}")
				span(class="activator grey-text text-darken-4").card-title.
					{{$study->name}}
			p.
				{{$study->short_description}}
mixin section-title(name)
	h1
		name
	hr
html(lang="en")
	head
		title= "My title is awesome"

		meta(name='description', content='')
		meta(name='viewport', content='width=device-width, initial-scale=1')

		link(href='https://fonts.googleapis.com/css?family=PT+Serif:700i|Merriweather|Lobster|Lato', rel='stylesheet')

		link(href='{{{ asset(\'/css/about.css\') }}}', rel='stylesheet')
		link(href='{{{asset(\'/css/pe-icon-7-stroke/css/pe-icon-7-stroke.css\')}}}', rel='stylesheet')
		link(href='{{{asset(\'/css/materialize.min.css\')}}}', rel='stylesheet' , media="screen,projection")

		link(href='http://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
		link(href='https://opensource.keycdn.com/fontawesome/4.6.3/font-awesome.min.css', rel='stylesheet')
		
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')

		script(src='{{{asset(\'/js/isotope.pkgd.min.js\')}}}')
		script(src='{{{asset(\'/js/about.js\')}}}')
		script(src='{{{asset(\'/js/cells-by-row.js\')}}}')
		script(src='{{{asset(\'/js/materialize.min.js\')}}}')
		script(src='{{{asset(\'/js/jquery.waypoints.min.js\')}}}')
		script(src='{{{asset(\'/js/jquery.counterup.min.js\')}}}')

	body 
		.image#image1
			.content
				.wrapper
					hr
					h1. 
						Sherif Mostafa
					hr
					h3.
						Economist
		section.services
			.content
				.wrapper
					h1.
						What I do best
					hr
				.service-wrapper
					.service
						i.pe-7s-graph1
						h3.
							Market research
						p.
							Get the most vital info about the market both now and in the future to make the best and most beneficial decision
					.service
						i.pe-7s-note2
						h3.
							Fesability studies
						p.
							Helping you understand the market and the needs for your invesment to thrive, giving it a solid roadmap for it's success
					.service
						i.pe-7s-culture
						h3.
							 Coporate structuring
						p.
							Wether an existing or a new coporate , structuring your entity right is vital for sucsess
		section.about-me
			.content
				h1.
					About me
				hr
				.wrapper
					.image-wrapper
						.personal-image
					.personal-info
						h3#title.
							This is my story
						p#description. 
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi gravida, ligula at maximus egestas, enim dui faucibus metus, et rutrum orci ipsum vel ex. Donec id est eget odio dapibus blandit sed ac nisi. Curabitur gravida mattis odio, id tristique mauris dictum eget. Etiam aliquet lectus vel lectus vulputate elementum. Morbi tristique tellus ut magna ultricies, quis ullamcorper diam ultrices. Maecenas sed libero ipsum. Nam ac ipsum nisl. Phasellus aliquet vestibulum est, non euismod erat iaculis sed. Duis vel purus tristique, feugiat nisl id, dignissim augue. Morbi quis quam quis massa mattis hendrerit eu sodales neque. Aenean sollicitudin nulla sed leo eleifend eleifend. Cras posuere malesuada interdum.
		section.my-work
			.content
				h1.
					My work
				hr
				.wrapper
					.gallery
						| @foreach($studies as $study)
						+add-study-card
						| @endforeach
					.button-wrapper
						a(class="waves-effect waves-light btn-large") more
							i(class="material-icons right") work 
		section.achievements
			.content
				.wrapper
					.achievements-gallery
						span.cell
							p.number.
								550
							p.description.
								Studies
						span.cell
							p.number.
								400
							p.description.
								Satisfied Customers
						span.cell
							p.number.
								30
							p.description.
								Years of experince
						span.cell
							p.number.
								8
							p.description.
								Awards
		section.contact-me
			.content
				h1.
					I would love to work with you
				a(class="waves-effect waves-light btn-large") Contact me
					i(class="material-icons right") person

		section.footer-section
			footer.page-footer
				.container
						h5.white-text.
							Let's be friends
						a(href="https://www.facebook.com/sherio1963" , target="_blank")
							i(class="fa fa-facebook-square fa-3x" ,aria-hidden="true")
						a(href="#" , target="_blank")
							i(class="fa fa-linkedin-square fa-3x" ,aria-hidden="true")
						hr
						p(class="text-lighten-4").grey-text.
							Website created and maintained with &#9829; by Hossam Sherif 
				.footer-copyright
					.container  &copy; 2016 Sherif Mostafa
