| @extends('app')

| @section ('links')
link(href='{{{ asset(\'/css/contact.css\') }}}', rel='stylesheet')
link(href='https://fonts.googleapis.com/css?family=PT+Serif:400i|Lato|Merriweather:300', rel='stylesheet')
| @stop

| @section('content')

h2#Main-header.
	Contact me
hr
h2.
	Reach me for any question or inquiries or even just to say hello
p.
	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut in luctus augue. Aliquam ac varius dui. Curabitur eget elementum lacus. Nam dapibus mollis est, sit amet tincidunt ligula varius bibendum. Mauris porttitor feugiat lorem et finibus. Nulla maximus felis ullamcorper, mattis nisl et, luctus urna. Cras sit amet aliquam mauris, vitae volutpat turpis. Praesent justo dolor, aliquam at porta ac, pellentesque vitae leo.
h1#email.
	contact@sherifmostafa.com
p#can-we-be-friends.
	Or we can be friends on these social networks:
a(href="#")
	i(class="fa fa-facebook-square fa-3x")
a(href="#")
	i(class="fa fa-linkedin-square fa-3x")
| @stop
