body
	.site-content
		lost-center:1600px
		h1	
			margin-bottom:5
			font-family: 'PT Serif', serif
			padding-top:70px
		hr
			margin:0
			max-width:40px
		.gallery
			margin-top:40px
			width:100%
			.card
				height:500px
				width:350px
				.card-title
					font-family: 'Merriweather', serif;
				.card-content
					p
						color:grey
				.card-image
					img
						height:250px
						background-size:cover


