body
	//background:url(https:\/\/lh3.googleusercontent.com/E3ua5jeJaRK-Rmz9ApYfcmBnQORm-KE62xFfhoMQlsVs7Y3E0PfkU1dUWSwPIb46FveD3lfrZxEuylLYaiKIvwRAWMehBmTVwsmWGxLobBDd2pVjyEFJX_i0VaapIJcpG0uEfSOmoErrhusJvFi_zJ8b9hvWTd8nQIC2teKhY8FOTn5zz2wwjv6tnRYsq6qJ8KK_TWfz1hNsIeZgcevM0cKAjGbl95ihgOdwJ8gUt8zi4dSqnILiVC7DdM29zFHIFM7G32PAh82dPDI9u9fXe2gntfQsaKP7m4pthz9NJ0KSIHVVewF3XhoALl--A6iMLIPLE73PKTINVI4J3E_gKe1qRh9W3lX6z-KUHtfZpYjWfwAh8Hnf7Z4TZXpjdydCUet0r71_Bh1CxotC36kFz7dds1IGs3q8CAuDe8XG1dwn3El5NbydACETicOd780iXbL2uKPqUG5ZTi0gDzp0eI1UUnq0_8-Z3aeY6xxQi2P_5jeBzreUrY9JZsNo743m6sS-6heQvWctT4mkXZX7-LnrgpFEKCwP40nsR7xP7KF0bbyiXK45v3m3zE-clZZVCBIfsA5Gm0EO-byke_ZQ_ewP1A3a9A=w1327-h995-no)
	//background-size:cover
	//color:white
	.site-content
		lost-center:900px
		text-align:center	
		h2
			font-family: 'PT Serif', serif
		h2#Main-header
			padding-top:150px
			color:grey
			font-size:1.7em
		hr
			max-width:200px
		p
			font-family: 'Lato', serif
			font-size:1.2em
			color:grey
		h1#email
			padding-top:35px
			font-size:3em
			font-family: 'Merriweather', serif;
		p#can-we-be-friends
			padding-top:30px
		a
			color:inherit
			i
				margin-left:10px
				margin-right:10px
