html
	head
		title= "This is a single study"

		meta(name='description', content='')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		link(href='{{{ asset(\'/css/study_overview.css\') }}}', rel='stylesheet')
		link(href='{{{ asset(\'/dist/semantic.min.css\') }}}', rel='stylesheet')

		link(href='https://fonts.googleapis.com/css?family=Poppins|Merriweather:300|Lobster|Lato:900', rel='stylesheet')

		script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
		script(src='{{{asset(\'/dist/semantic.min.js\')}}}')
		script(src='{{{asset(\'/js/study_overview.js\')}}}')
		
		body
			section.nav-bar
				div(class="ui visible sidebar inverted top")
					.wrapper
						div(class="dummy").side-bar-item
						.main-header.side-bar-item
							h1.
								Sherif Mostafa
						div(class="ui secondary three item menu nav-elements").side-bar-item
							a.item.
								About me
							a.item.
								My work
							a.item.
								My services
			section.study-overview
				.content
					.study-details
						.wrapper
							.image-wrapper
								div(class="ui fluid card")
									.image
										img(src="https://lh3.googleusercontent.com/autxYWc2q40NpliNic_35Iu-xVo5uCTiMDjG5rHk7M6ITc74LDQLcSUJe05vcu2JtQPt2IZNbu9fdWvQB1e5RoaQPr1qRPuv6UzF4YHgySDd9zyRvbtautFavbzZwNRmMzcqUlmxlLUbmibSa1RTrrTca_sYZRye0Lw0e1zT5PN8KqmS3Whkp85737ajObta6FBWVhTrWHF593YGnwopsRzHREff_IJroEpBSiimLK9rXDYolLgDdvAdVr-G2h6mtfRmveWviY-xLExICPkiGpJ03RebMdMd6vQTcfM9nSPLRCXAUPB68vwyO8eNL2srIisbderWGj5mq92bs2MAab_9IivNMc7om2YNFW8EY0k-HL7TU2pt2qGjog1PQtJEjj8FvtnCh1pZ6aZGgamU2wnAJqch1qRaLZkfPn99DCqJaDmcDq7FpU88HfGV17bjRifX0mq3iJuI1G8qlAM6wylkkUN_LC-J4hFvXGN1uum2qqq0laBPMnRwyGWBO-42SG3-ay_4R0dfYz02r89Za3ufyeC6rTcFDh7d0vm4XFDLwTjXCtBjBomrnV66dyTWnPRZA2DSrlBHtBQQNFF3OHjjDpJO2g=w1250-h673-no") 
							.study-variables
								h1.
									{{$study->name}} Study
								hr
								.study-info
									p.
										{{$study->short_description}}
									h1#price.
										${{$study->base_price}}
									p#disclaimer.
										* This is a base price, study price may vary depeding on indvidual client needs
									div(class="ui animated fade orange button")
										div(class="visible content").
											Buy this study
										div(class="hidden content").
											Contact Me !
					.study-description
						.wrapper
							.header-wrapper
								h1.
									ABOUT THIS STUDY :
							hr

							
